.novo {
  float: right;
  display: flex;
  align-items: center;
  background-color: #83bf02;
  margin-bottom: 1.5em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: bold;
  transition: ease-in-out 0.3s;
  gap: 0.5rem;
}

.novo:hover {
  background-color: #5fd204;
  transform: scale(1.1);
}

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dashboard span{
  margin: 2em 0;
  font-size: 1.3em;
  font-weight: bold;
}

table {
  border: 1px solid #ccc;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 2em;
}

table th,
table td {
  padding: 0.5em;
  text-align: center;
}

table th {
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

table td .acoes {
  border: none;
  padding: 5px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 3px;
}

table td .acoes svg {
  vertical-align: middle;
}

table td .status {
  padding: 3px;
  border-radius: 3px;
  color: #fff;
}

.carregarMais{
  margin: 1.5em 0;
  padding: .5em 1em;
  background-color: #181c2e;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1.1em;
}

#buscandoMais{
  margin: 1.5em 0;
}

@media screen and (max-width: 490px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3rem;
  }

  table thead {
    border: none;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ccc;
    display: block;
    margin: 0.6em;
  }

  table td{
    border-bottom: 1px solid #ccc;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before{
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}
